In [22]:
import csv, sqlite3

con = sqlite3.connect("flask-crud.db") # change to 'sqlite:///your_filename.db'
cur = con.cursor()

with open('Location.csv','r') as fin: # `with` statement available in 2.5+
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['loc_id'], i['l_name'],i['um_count']) for i in dr]
# to_db
cur.executemany("INSERT INTO Location (loc_id, building_name,um_count) VALUES (?, ?,?);", to_db)
con.commit()
con.close()

In [1]:
import pandas as pd 
df1=pd.read_csv('Umbrella.csv')
df1

     u_id u_color u_size u_status  loc_id
0       1       藍      小       正常      30
1       2       紅      大       正常      15
2       3       綠      小       正常      51
3       4       藍      大       正常      37
4       5       白      大       正常      19
..    ...     ...    ...      ...     ...
494   495      咖啡      大       正常      47
495   496       藍      小       正常       3
496   497       藍      大       正常      51
497   498       紫      大       正常      43
498   499       紫      小       正常      18

[499 rows x 5 columns]

In [3]:
import csv, sqlite3

con = sqlite3.connect("flask-crud.db") # change to 'sqlite:///your_filename.db'
cur = con.cursor()

with open('Umbrella.csv','r') as fin: # `with` statement available in 2.5+
    dr = csv.DictReader(fin) # comma is default delimiter
#     for i in dr:
#         print(i)
    to_db = [(i['u_id'], i['u_color'],i['u_size'],i['loc_id'],i['u_status']) for i in dr]
# to_db
cur.executemany("INSERT INTO umbrella (u_id, u_color,u_size,loc_id,u_status) VALUES (?, ?,?,?,?);", to_db)
con.commit()
con.close()

In [ ]:
import csv, sqlite3

con = sqlite3.connect("flask-crud.db") # change to 'sqlite:///your_filename.db'
cur = con.cursor()

with open('Umbrella.csv','r') as fin: # `with` statement available in 2.5+
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['u_id'], i['u_color'],i['u_size'],i['loc_id']) for i in dr]
# to_db
cur.executemany("INSERT INTO umbrella (u_id, u_color,u_size,loc_id) VALUES (?, ?,?,?);", to_db)
con.commit()
con.close()

In [6]:
import pandas as pd
df1=pd.read_csv('Location.csv')
list1=df1['l_name'].tolist()
tt=[]
for i in list1:
    tt.append((i,i))
print(tt)

[('正門', '正門'), ('社資中心', '社資中心'), ('井塘樓', '井塘樓'), ('憩賢樓', '憩賢樓'), ('學思樓', '學思樓'), ('逸仙樓', '逸仙樓'), ('中正圖書館', '中正圖書館'), ('志希樓', '志希樓'), ('果夫樓', '果夫樓'), ('校友服務中心', '校友服務中心'), ('風樓', '風樓'), ('四維堂', '四維堂'), ('學生活動中心', '學生活動中心'), ('樂活小舖', '樂活小舖'), ('資訊大樓', '資訊大樓'), ('健康中心', '健康中心'), ('行政大樓', '行政大樓'), ('政大書城', '政大書城'), ('新聞館', '新聞館'), ('大智樓', '大智樓'), ('大仁樓', '大仁樓'), ('大勇樓', '大勇樓'), ('收發室', '收發室'), ('游泳館', '游泳館'), ('體育館', '體育館'), ('研究大樓', '研究大樓'), ('商學院館', '商學院館'), ('綜合院館', '綜合院館'), ('傳播學院', '傳播學院'), ('道藩樓', '道藩樓'), ('百年樓', '百年樓'), ('季陶樓', '季陶樓'), ('國際大樓', '國際大樓'), ('藝文中心', '藝文中心'), ('藝文中心大禮堂', '藝文中心大禮堂'), ('政大實幼', '政大實幼'), ('莊敬一舍', '莊敬一舍'), ('莊敬二舍', '莊敬二舍'), ('莊敬三舍', '莊敬三舍'), ('莊敬四舍', '莊敬四舍'), ('莊敬五、六舍', '莊敬五、六舍'), ('莊敬七、八舍', '莊敬七、八舍'), ('莊敬九舍', '莊敬九舍'), ('自強五、六舍', '自強五、六舍'), ('自強七、八舍', '自強七、八舍'), ('自強一、二、三舍', '自強一、二、三舍'), ('自強九舍', '自強九舍'), ('玫苑', '玫苑'), ('政大實小', '政大實小'), ('自強十舍', '自強十舍'), ('研創中心', '研創中心')]

In [6]:
24/24

1.0

In [7]:
48/24

2.0

In [8]:
if '3' in '123'

SyntaxError: invalid syntax (<ipython-input-8-ce12b2e30621>, line 1)